<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>org.eventanalysis.postmatch</string>
  <key>ProgramArguments</key><array><string>__NPM__</string><string>run</string><string>pipeline:postmatch</string></array>
  <key>WorkingDirectory</key><string>__ROOT__</string>
  <key>EnvironmentVariables</key><dict><key>PATH</key><string>__PATH__</string></dict>
  <key>StartInterval</key><integer>900</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>__ROOT__/pipeline/runtime/launchd/postmatch.log</string>
  <key>StandardErrorPath</key><string>__ROOT__/pipeline/runtime/launchd/postmatch.error.log</string>
</dict></plist>
